@model IEnumerable<TirelireShop.Produit>

@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <div class="main-title">
        <p class="into">Bienvenue sur le Tirelire shop</p>
    </div>
</div>
