
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div >
    <ul class="navbar-nav flex-grow-1">

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Produit" asp-action="Index">Produits </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Fabricant" asp-action="Index">Fabricants </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">Clients </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Couleur" asp-action="Index">Couleurs </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="StatutCommande" asp-action="Index">Statut Commande </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Commande" asp-action="Index">Commandes </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="PalmaresCommande">Palmares </a>
        </li>
    </ul>
</div>