@model IEnumerable<TirelireShop.Produit>

@{
    ViewData["Title"] = "PalmaresCommande";
}

<h1>PalmaresCommande</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
        </tr>
}
    </tbody>
</table>
