@model IEnumerable<TirelireShop.DetailsCommande>

@{
    ViewData["Title"] = "Top 5 produits";
}

<h1>Top 5 produits</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdproduitNavigation.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>


    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdproduitNavigation.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
            </tr>

        }
    </tbody>
</table>
